<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Controle de Estoque</title>
  <link rel="stylesheet" href="styless.css">
  
</head>
<body ng-app="myApp">
  <div class="container">
    <h1>Controle de Estoque</h1>
    <div class="row">
      <div class="col-md-6">
        <form ng-submit="addStockItem()">
          <input type="text" ng-model="name" placeholder="Nome">
          <input type="number" ng-model="quantity" placeholder="Quantidade">
          <input type="number" ng-model="unitPrice" placeholder="Preço Unitário">
          <button type="submit">Adicionar Item de Estoque</button>
        </form>
      </div>
      <div class="col-md-6">
        <table class="table">
            <caption>Esta tabela mostra os itens de estoque no banco de dados.</caption>
            <thead>
              <tr>
                <th style="margin: 10px;">Nome</th>
                <th style="margin: 10px;">Quantidade</th>
                <th style="margin: 10px;">Preço Unitário</th>
                <th style="margin: 10px;">Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="stockItem in stockItems | filter:isTablet">
                <td>{{stockItem.name}}</td>
                <td>{{stockItem.quantity}}</td>
                <td>{{stockItem.unitPrice}}</td>
                <td><button ng-click="removeStockItem(stockItem.id)">Remover</button></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
  <script>
    var app = angular.module('myApp', []);

    app.controller('MainController', function($scope, $http) {
      $scope.stockItems = [];

      // Obter os itens de estoque do banco de dados
      $http.get('api/stockitems').then(function(response) {
        $scope.stockItems = response.data;
      });

      // Adicionar um item de estoque
      $scope.addStockItem = function() {
        var stockItem = {
          name: $scope.name,
          quantity: $scope.quantity,
          unitPrice: $scope.unitPrice
        };

        $http.post('api/stockitems', stockItem).then(function(response) {
          $scope.stockItems.push(response.data);
          $scope.name = '';
          $scope.quantity = '';
          $scope.unitPrice = '';
        });
      };

      // Remover um item de estoque
      $scope.removeStockItem = function(id) {
        $http.delete('api/stockitems/' + id).then(function(response) {
          $scope.stockItems = $scope.stockItems.filter(function(stockItem) {
            return stockItem.id !== id;
          });
        });
      };

      // Verificar se é um dispositivo de tamanho de tela menor ou igual a 992 pixels (considerado tablet)
      $scope.isTablet = function() {
        return window.innerWidth <= 992;
      };
    });
  </script>
</body>
</html>
